<li>
    <div class="photo-card">
        <img src="{{webformatURL}}" alt="{{tags}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>

{{!-- id: 89197
pageURL: "https://pixabay.com/photos/city-night-dark-architecture-lamps-89197/"
type: "photo"
tags: "city, night, dark"
previewURL: "https://cdn.pixabay.com/photo/2013/03/02/02/41/city-89197_150.jpg"
previewWidth: 150
previewHeight: 101
webformatURL: "https://pixabay.com/get/5ee9d44a4d4fad0bffd8992cc62d347d103ed8e34e507441772c7bdc934bc5_640.jpg"
webformatWidth: 640
webformatHeight: 433
largeImageURL: "https://pixabay.com/get/5ee9d44a4d4fad0bffd8992cc62d347d103ed8e34e507441772c7bdc934bc5_1280.jpg"
imageWidth: 4815
imageHeight: 3264
imageSize: 3938542
views: 264883
downloads: 96439
favorites: 1000
likes: 1062
comments: 88
user_id: 14
user: "PublicDomainPictures"
userImageURL: "https://cdn.pixabay.com/user/2012/03/08/00-13-48-597_250x250.jpg" --}}